# Template pour les variables d'environnement (secrets)
FIREBASE_WEB_CLIENT_ID="577398237015-sgrt2thd7n2oku71ermqn8tll2ncl5m5.apps.googleusercontent.com"
ADMIN_EMAIL_1="rmihaja44@gmail.com"
ADMIN_EMAIL_2="mathieuandrianarivelo10@gmail.com"
ADMIN_PASSWORD="mihaja29"
